.container {
  /* altura total  */
  height: 100vh;
  max-width: 992px;
  /* centralizar */
  margin: 0 auto;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
}

.container section {
  padding-top: 1rem;
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-content: center;
}
